@font-face {
  font-family: "iconfont"; /* Project id 3483168 */
  src: url('iconfont.woff2?t=1656127608946') format('woff2'),
       url('iconfont.woff?t=1656127608946') format('woff'),
       url('iconfont.ttf?t=1656127608946') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-quanping:before {
  content: "\e8fa";
}

.icon-tuichuquanping:before {
  content: "\e8fb";
}

.icon-toggle-right:before {
  content: "\e6f6";
}

.icon-toggle-left:before {
  content: "\e6f5";
}

