.icon{
    display:flex;
    height: 640px;
    justify-content:center;
    align-items: center;
    .icon-text{
      padding-left: 50px;
      p{
        &:nth-child(1){
          font-size: 28px;
          padding-bottom: 12px;
        }
        &:nth-child(2){
          color: #6a6a6a;
          padding-bottom: 15px;
          font-size: 14px;
        }
      }
    }
}